# Node.js
node_modules/
dist/

# React environment files
.env
.env.*
!.env.example

# Java / Spring Boot
target/
*.class
uploads/
# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

